{% extends 'polls/layout.html' %}
{% block content %}
<!--==========================
    Intro Section
  ============================-->
  <!--INTRO-->
  
  {% include "includes/intro.html" %}

  <!--INTRO END-->

    
  

  <!--==========================
    About Us Section
    ============================-->
    
  {% include "includes/about us.html" %}
    
    <!-- #about -->





    <!--==========================
      Services Section
    ============================-->
    {% include "includes/services.html" %}
    <!-- #services -->





    <!--==========================
      Why Us Section
    ============================-->
    {% include "includes/why us.html" %}







    <!--==========================
      Portfolio Section
    ============================-->
    {% include "includes/portfolio.html" %}

    <!-- #portfolio -->



    


    <!--==========================
      Clients Section
    ============================-->
    {% include "includes/testimonials.html" %}    
    <!-- #testimonials -->






    <!--==========================
      Team Section
    ============================-->
    {% include "includes/team.html" %}
    <!-- #team -->





    <!--==========================
      Clients Section
    ============================-->
    {% include "includes/client.html" %}






    <!--==========================
      Contact Section
    ============================-->
    {% include "includes/contact us.html" %}   
    <!-- #contact -->
    {% endblock %}